<h2>Sefer Ekle</h2>


<label>Kalkış Şehri:</label>
<app-sehir-dropdown (sehirSecildi)="kalkisSehirId = $event ?? undefined"></app-sehir-dropdown>


<label>Varış Şehri:</label>
<app-sehir-dropdown (sehirSecildi)="varisSehirId = $event ?? undefined"></app-sehir-dropdown>



<label>Firma:</label>
<app-firma-dropdown (firmaSecildi)="onFirmaSecildi($event)"></app-firma-dropdown> <!-- ✅ Hata düzeldi -->


<label>Otobüs:</label>
<select [(ngModel)]="otobusId" class="form-control">
  <option *ngFor="let otobus of otobusler" [value]="otobus.id">
    {{ otobus.plaka }} - {{ otobus.otobusModel }}
  </option>
</select>


<label>Tarih:</label>
<input type="date" [(ngModel)]="tarih" class="form-control" />


<label>Saat:</label>
<input type="time" [(ngModel)]="saat" class="form-control" />


<label>Fiyat:</label>
<input type="number" [(ngModel)]="fiyat" class="form-control" />


<button (click)="seferEkle()" class="btn btn-success">Sefer Ekle</button>
